*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 12px;
  line-height: 1.5;
  @include tablet {
    font-size: 14px;    
  }
  @include desktop {
    font-size: 16px;
  }
}
body {
  font-family: 'Open Sans', sans-serif;
  color: $text-color;
  margin: 4.5em 0 1.5em;
}
a, a:visited {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif;
}
h1, h2 {
  font-size: $text-size3;
}
h3 {
  font-size: $text-size4;
}
h4 {
  font-size: $text-size2;
}
small {
  font-size: .65em;
}