.profile {
  display: grid;
  grid-template-rows: 8em 1fr;
  grid-template-columns: 1fr;
  margin: 0 1em;
  padding: 0 1em;
  height: 20em;
  color: white;
  background-color: #555555;
  border-radius: 2em;
  &__btn {
    position: relative;
    color: white; 
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;   
    background-color: transparent;
    padding: 0.25em 1em;
    border: 0.2em solid white;
    border-radius: .5em;
    transition: background-color .4s;
    &:hover, &:active {
      cursor: pointer;
      color: $text-color;
      background-color: white;
    }
  }
}
h5 {
  font-size: 3.2em;
  line-height: 1.5;
}
h6 {
  position: relative;
  top: -0.5em;
  font-size: 1.2em;
  line-height: 1;
}

@keyframes vanish {
  to{
    opacity: 0;
  }
}