*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
  line-height: 1.5;
}

@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

.main {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 3em 1fr 2em;
  grid-template-columns: 1fr;
  padding: 0 2vh;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main {
    padding: 0 5vh;
  }
}

@media (min-width: 1024px) {
  .main {
    padding: 0 8vh;
  }
}
